// Devanagari New Normal font for hindi alphabet
@font-face
  font-family 'Devanagari-New-Normal'
  src url('../fonts/devanagari-new-normal/Devanagari-New-Normal.ttf.woff') format('woff'),
      url('../fonts/devanagari-new-normal/Devanagari-New-Normal.ttf.svg#Devanagari-New-Normal') format('svg'),
      url('../fonts/devanagari-new-normal/Devanagari-New-Normal.ttf.eot'),
      url('../fonts/devanagari-new-normal/Devanagari-New-Normal.ttf.eot?#iefix') format('embedded-opentype')
  font-weight normal
  font-style normal


@font-face
  font-family 'samarkannormal'
  src url('../fonts/samarkan/samarn__-webfont.eot')
  src url('../fonts/samarkan/samarn__-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/samarkan/samarn__-webfont.woff2') format('woff2'),
      url('../fonts/samarkan/samarn__-webfont.woff') format('woff'),
      url('../fonts/samarkan/samarn__-webfont.ttf') format('truetype'),
      url('../fonts/samarkan/samarn__-webfont.svg#samarkannormal') format('svg')
  font-weight: normal
  font-style: normal



